$input-height: 2em;
div.sign-up > form {
  width: 80%;
  margin: 0 10%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: $input-height;
  grid-row-gap: 0.5em;
  label {
    text-align: right;
    padding-top: 0.6em;
    padding-right: 20%;
  }
  .col-2-to-col-5{
    grid-column-start: 2;
    grid-column-end: 5;
  }

}

form[name="signup"] {
  .sex{
    padding-top: 0.5em;
    label {
      padding-right: 1%;
    }
  }
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  height: $input-height;
  border-radius: 0.3em;
}

figure#diagram {
  position: relative;
  width: 80%;
  height: 50em;
  margin-left: 10%;
  background: white;
  overflow: scroll;
}

figure#diagram {
  figcaption {
    border-bottom: 1px solid black;
  }
}

figure#diagram-holder {
  display: inline-block;
  position: relative;
}

.html-view-header {
  position: absolute;
  z-index: 2;
}

.html-view-header label {
  position: absolute;
  left: 120px;
  top: 8px;
  font-size: 3em;
}

.breach {
  color: red;
}

.su {
  color: green;
}

.custom-highlighter rect{
  stroke: green !important;
  stroke-width: 10px;
  padding: 10px;

}