@import "../../../node_modules/normalize.css";
@import "./setting";
@import "~codemirror/lib/codemirror.css";
@import "header/AppHeader";
@import "demo/demo";
@import "login/login";
@import "signup/signup";


header, footer {
  width: 100%;
  margin: 0.04em 0;
}
footer {
  background-image: $header-footer-background-liner-gradient-style;
  color: hsl(205, 67%, 81%);
  text-align: center;
  height: 5em;
  padding: 1em;
  position: static;
  bottom: 0;
  margin-top: 0.5em;
  clear: left;
  border-radius: 0.5em;
}
