@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~codemirror/lib/codemirror.css";
@import "demo/demo";
@import "login/login";
footer {
  background: black;
  color: hsl(205,67%,81%);
  text-align: center;
  height: 3em;
  padding: 0.5em;
  width: 100%;
  position: fixed;
  margin-top: 0.5em;
}
section > header {
  text-align: center;
}
body{
  overflow: scroll;
}
main * {
  margin-left: 0.5em;
}