@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~codemirror/lib/codemirror.css";
@import "demo/demo";
@import "login/login";

$on-hover-color: hsl(240, 100%, 30%);
$header-elements-padding: 1.5em;
$hover-header-nav-link-color: hsl(0,50%,50%);
*{
  margin: 0;
}

body {
  overflow: scroll;
  position: relative;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: hsl(0, 100%, 100%)
}

main * {
  margin-left: 0.5em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: $on-hover-color;
}

#header-nav-bar {
  background: hsl(0, 100%, 0%);
  width: 100%;
  height: 5em;
  position: sticky;
}

#header-nav-bar a {
  color: hsl(0, 100%, 100%);
}

#logo, #nav-link-section, #search-section {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  height: 5em;
  border: thin black;
}

#logo {
  width: 10%;
  padding-top: $header-elements-padding;
}
#logo:hover {
  background-color: $hover-header-nav-link-color;
}
#nav-link-section {
  width: 80%;
}

#search-section {
  width: 10%;
}

.flex-container {
  display: flex;
}

#nav-link-section > div.flex-container > div {
  width: 25%;
  height: 5em;
  margin: 0;
  padding-top: $header-elements-padding;
}
#nav-link-section > div.flex-container > div:hover{
  background-color: $hover-header-nav-link-color;
}

#search-section {
  padding-top: $header-elements-padding;
}
footer {
  background: black;
  color: hsl(205, 67%, 81%);
  text-align: center;
  height: 3em;
  padding: 0.5em;
  width: 100%;
  position: static;
  bottom: 0;
  margin-top: 0.5em;
  clear: left;
}