<section class="mission">
    <header>
        <h4> Our Mission</h4>
    </header>
    <p>
        San  Jaqline valley Town Halt is <em>non-profit</em> Organization that is run by all-volunteer board of directors. Our mission is to bring nationally and internationlly
        renowed, through-provoking speakers  who inform , educate, and entertain our audience!.
    </p>
</section>
<section id="transition-demo">
    <h3> Over this header to see the transition</h3>
</section>
<section class="ticket-packages">
    <header>
        <h4>Our Ticket Packages</h4>
    </header>
    <ul>
        <li>Season Package: &dollar;95</li>
        <li>Parton Package: &dollar;95</li>
        <li>Single  Package: &dollar;95</li>
        <li>Family Package: &dollar;95</li>
    </ul>
</section>
<section class="speakers">
    <header>
        <h4>This season's speakers:</h4>
    </header>
    <div class="speaker-details">
        <div class="speaker-detail" ng-repeat="speaker in demoCtrl.speakersCount">
            <h5>{{speaker.month}}</h5>
            <a href="#">{{speaker.name}}</a>
            <img  src="{{speaker.img}}" alt="{{speaker.name}}" usemap="#webpack-angular-image-map"/>
            <map name="webpack-angular-image-map">
                <area href="https://webpack.js.org/" alt="Webpack" title="Webpack" shape="rect"
                coords="10,10,20,20">
                <area href="https://angular.io/" alt="Angular" title="Angular" shape="rect"
                coords="40,10,60,20">
            </map>
        </div>

    </div>
</section>