<section class="mission">
    <header>
        <h4> Our Mission</h4>
    </header>
    <p>
        San  Jaqline valley Town Halt is <em>non-profit</em> Organization that is run by all-volunteer board of directors. Our mission is to bring nationally and internationlly
        renowed, through-provoking speakers  who inform , educate, and entertain our audience!.
    </p>
</section>
<section class="ticket-packages">
    <header>
        <h4>Our Ticket Packages</h4>
    </header>
    <ul>
        <li>Season Package: &dollar;95</li>
        <li>Parton Package: &dollar;95</li>
        <li>Single  Package: &dollar;95</li>
        <li>Family Package: &dollar;95</li>
    </ul>
</section>
<section class="speakers">
    <header>
        <h4>This season's speakers:</h4>
    </header>
    <div class="speaker-details">
        <div class="speaker-detail" ng-repeat="speaker in demoCtrl.speakersCount">
            <h5>{{speaker.month}}</h5>
            <a href="#">{{speaker.name}}</a>
            <img  src="{{speaker.img}}" alt="{{speaker.name}}"/>
        </div>

    </div>
</section>