<section class="aside">
    <h3> This season's great speakers</h3>
    <nav>
        <ul>
            <li>October: <a href="#"> Jeffery Toobin</a></li>
            <li>November: <a href="#"> Jeffery Toobin</a></li>
            <li>December: <a href="#"> Jeffery Toobin</a></li>
            <li>January: <a href="#"> Jeffery Toobin</a></li>
        </ul>
    </nav>
    <div class="year-calendar">
        <year-calendar></year-calendar>
    </div>
</section>
<section class="main-content">
    <article>
        <h3>Fossils Threads in Life</h3>
        <img src="{{loginCtrl.imageUrl}}" alt="dummy Image">
        <p>
            I've been spinning now for time,Couple women by my side ,I got sinning on my mind ,Sipping on red wine
            I've been sitting here for ages Ripping out the pages How'd I get so faded? How'd I get so faded?
            Oh, no, no, don't leave me alone lonely now If you loved me how'd you never learn? Oh, coloured crimson in
            my eyes
            One or two could free my mind. This is how it ends. I feel the chemicals burn in my bloodstream Fading out
            again.
            I feel the chemicals burn in my bloodstream. So tell me when it kicks in
        </p>
        <p>
            I've been spinning now for time,Couple women by my side ,I got sinning on my mind ,Sipping on red wine
            I've been sitting here for ages Ripping out the pages How'd I get so faded? How'd I get so faded?
            Oh, no, no, don't leave me alone lonely now If you loved me how'd you never learn? Oh, coloured crimson in
            my eyes
            One or two could free my mind. This is how it ends. I feel the chemicals burn in my bloodstream Fading out
            again.
            I feel the chemicals burn in my bloodstream. So tell me when it kicks in
        </p>
        <p>
            I've been spinning now for time,Couple women by my side ,I got sinning on my mind ,Sipping on red wine
            I've been sitting here for ages Ripping out the pages How'd I get so faded? How'd I get so faded?
            Oh, no, no, don't leave me alone lonely now If you loved me how'd you never learn? Oh, coloured crimson in
            my eyes
            One or two could free my mind. This is how it ends. I feel the chemicals burn in my bloodstream Fading out
            again.
            I feel the chemicals burn in my bloodstream. So tell me when it kicks in
        </p>
        <p>
            I've been spinning now for time,Couple women by my side ,I got sinning on my mind ,Sipping on red wine
            I've been sitting here for ages Ripping out the pages  How'd I get so faded? How'd I get so faded?
            Oh, no, no, don't leave me alone lonely now  If you loved me how'd you never learn? Oh, coloured crimson in my eyes
            One or two could free my mind. This is how it ends. I feel the chemicals burn in my bloodstream Fading out again.
            I feel the chemicals burn in my bloodstream. So tell me when it kicks in
        </p>
        <p>
            I've been spinning now for time,Couple women by my side ,I got sinning on my mind ,Sipping on red wine
            I've been sitting here for ages Ripping out the pages  How'd I get so faded? How'd I get so faded?
            Oh, no, no, don't leave me alone lonely now  If you loved me how'd you never learn? Oh, coloured crimson in my eyes
            One or two could free my mind. This is how it ends. I feel the chemicals burn in my bloodstream Fading out again.
            I feel the chemicals burn in my bloodstream. So tell me when it kicks in
        </p>
    </article>
</section>