.main-content {
  width: 60%;
}

.aside {
  width: 40%;
  float: right;
}
.aside > nav:nth-child(2) {
  width: 65% ;
  padding-left: 1rem;
  padding-top: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  background: hsl(10, 50%, 90%);
}

section.main-content > article:first-child > img {
  margin: 1rem 0;
  height: 30rem;
  width: 30rem;
}

.main-content > article:first-child {
  column-count: 2;
  column-gap: 1.5rem;
  column-span: all;
}