.grid-layout {
  display: grid;
  grid-template-columns: 60% 40%;
}
.grid-layout > section.main-content, .grid-layout > section.aside {
  padding-right: 0;
}
.aside > nav:nth-child(2) {
  width: 65% ;
  padding-left: 1rem;
  padding-top: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  background: hsl(10, 50%, 90%);
}
section > header:first-child > h3:first-child {
  padding-bottom: 0.5rem;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background: black;
  padding: 1rem;
}
.grid-container > div {
  background: hsl(0,50%,50%);
  padding: 4rem;
  border: 0.2rem hsl(0,50%,100%) solid;
}
.grid-container > div:hover {
  background: hsl(0,50%,70%);
}

section.main-content > article:first-child > img {
  height: 30rem;
  width: 30rem;
}

.main-content > article:first-child {
  column-count: 2;
  column-gap: 1.5rem;
  column-span: all;
}