.speaker-details{
  margin-top: 1em;
}
section.ticket-packages > ul:last-child{
  list-style: none;
}
section.ticket-packages > ul:last-child > li {
  width:12%;
  padding: 0.5rem;
  margin-bottom:0.2rem ;
  border-radius: 1rem 0.2rem 1rem 0.2rem;
  background-image: linear-gradient(45deg, hsl(120,50%,50%), hsl(0,30%,50%));
}
section.ticket-packages > ul:last-child > li:hover{
  background-image: linear-gradient(45deg,hsl(0,10%,50%),red);
}
section.ticket-packages> ul:last-child > li:first-child {
  margin-top: 1rem;
}
.speakers>div.speaker-details:nth-child(2) a {
  text-decoration: underline;
  display: block;
}
.speakers>div.speaker-details:nth-child(2) img {
  width: 20rem;
  height: 10rem;
}